html {
  background:#666;
  font-family: "helvetica", "arial", "georgia", sans-serif;
}

#main_wrap {
  margin: 0 auto;
  }

#header {
  width:auto;
  height:60px;
  background:#fff;
  }
#header_content {
  width:960px;
  margin:0 auto;
}

#header_content h1 {
  padding:5px 0 0 0;
  color:#e0a249;
  }

#content_bg {
  background:#fff;
  width:100%;
}

#content_wrap {
  width:950px;
  background:#f6f6f6;
  border-top:1px solid #ededed;
  border-left:1px solid #ededed;
  border-right:1px solid #ededed;
  margin: 0 auto;
  padding: 15px 15px 15px 15px;
  }  

#content {
  padding: 0 0 15px 0;
  }

#content .gather {
  margin: 7px 0 0 0;  
} 

#content .view {
  margin: 7px 0 7px 0;  
}

h1 {
  font-size:2.2em;
  margin: 0 0 10px 0;
  }

h2 {
  font-size:1.8em;
  color:#666;
}  

#footer {
  height:200px;
  width:auto;
  background:#666;
}

#footer_content {
  width:960px;
  margin: 0 auto;
  padding:10px 0 0 0;
}

#content p {
  color:#000;
}

#content p a {
  color:#000;  
}

#content p a:hover {
  color:#888;  
}

#content table th {
  font-size:.9em;
}

#content table a {
  color:#000;
} 

#content table a:hover {
  color:#888;
  }  
